<h1>Let's eat some tacos!</h1>

<ul>
  <li><%= link_to "Connecting", connecting_path %></li>
  <li><%= link_to "Schema", schema_path %></li>
  <li><%= link_to "Questions", questions_path %></li>
</ul>
