<%= form_for(@tacocopter) do |f| %>
  <% if @tacocopter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tacocopter.errors.count, "error") %> prohibited this tacocopter from being saved:</h2>

      <ul>
      <% @tacocopter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
