<p id="notice"><%= notice %></p>

<h1>Let's eat some tacos! (They better have beer!)</h1>

<%= form_tag search_tacos_path do %>
  What kind of tacos are we in the mood for? <br /><br />
  <% @tacos.each do |taco| %>
    <%= check_box_tag 'taco[]', taco.name, false, :id => taco.id %> <%= taco.name %> <br />
  <% end %><br />

  Don't forget the salsa <br /><br />
  <% @salsas.each do |salsa| %>
  	<%= check_box_tag 'salsa[]', salsa.name, false, :id => salsa.id %> <%= salsa.name %> <br />
  <% end %><br />

  <%= submit_tag "Let's EAT!" %>
<% end %>
