<p id="notice"><%= notice %></p>
<% if @results.size > 0 %>
  <h2>You're in luck! Found some awesome taco stores</h2>
<% else %>
  <h2>You're too picky, no tacos today :( </h2>
<% end %>
<table border="4">
	<tr>
		<th>Store</th>
		<th>City</th>
		<th>Beer</th>
		<th>Rating</th>
	</tr>
	<% @results.each do |store| %>
	  <tr>
	  	<td>
	  	  <%= store.name %>
	  	</td>
	  	<td>
	  	  <%= store.city.name %>
	  	</td>
	  	<td>
	  	  <% if store.sells_beer? %>
            Beer lunch!
	  	  <% else %>
	  	    No beer lunch..
	  	  <% end %>
	  	</td>
	  	<td> <%= store.zagat_rating %> </td>
	  </tr>
	<% end %>
</table>
<br />
<%= link_to "Search Again", :root %>
